.reveal .slide-number {
    left: 8px;
    right: auto;
}

.make-it-pop {
    filter: drop-shadow(0 0 10px purple);
}

.red {
    color: darkred;
}

.green {
    color: darkgreen;
}

.no-border {
    border: 0px !important;
}
